In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("adult.data.csv")

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [20]:
df["race"].nunique()

5

In [21]:
df["race"].count()

np.int64(32561)

In [24]:
df["education"].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [25]:
df["education"].value_counts(normalize=True)

education
HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: proportion, dtype: float64

In [27]:
df["education"].value_counts(normalize=True)["Bachelors"]

np.float64(0.16446055096587942)

In [30]:
df[ (df[ "age" ] == 39) & (df["race"] == "White")]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
129,39,Private,365739,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
166,39,Federal-gov,235485,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
320,39,Self-emp-not-inc,174308,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32260,39,Federal-gov,232036,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
32378,39,Private,214896,HS-grad,9,Separated,Other-service,Not-in-family,White,Female,0,0,40,El-Salvador,<=50K
32468,39,Self-emp-not-inc,193689,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,65,United-States,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K

In [31]:
df["salary"].dtype

dtype('O')

In [44]:
df_adv_edu_count = df_adv_edu[["age" , "salary"]].groupby(by = "salary").count().rename(columns = {"age": "count"})
df_adv_edu_count

        count
salary
<=50K    4005
>50K     3486

In [46]:
df_adv_edu = df[ (df["education"] == "Bachelors") | (df["education"] == "Masters") | (df["education"] == "Doctorate") ]
df_adv_edu["age"].count()

np.int64(7491)

In [48]:
df_adv_edu = df[df["education"].isin(["Bachelors", "Masters", "Doctorate"]) ]
df_adv_edu["age"].count()

np.int64(7491)

In [50]:
df_adv_edu_count["count"][">50K"] / df_adv_edu_count["count"].sum()

np.float64(0.46535843011613937)

In [51]:
df_adv_edu["salary"].value_counts(normalize=True)[">50K"]

np.float64(0.46535843011613937)

In [53]:
high_earning_people = df[ df["salary"] == ">50K"]

In [56]:
high_earning_people["native-country"].value_counts().idxmax()

'United-States'

In [61]:
high_indians = df[(df["native-country"]=="India") & (df["salary"] == ">50K") ]

In [62]:
high_indians["occupation"].value_counts().idxmax()

'Prof-specialty'